<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket List</title>
  </head>
  <body>
    <h2>Ticket List</h2>
    <a href="{% url 'create_ticket' %}">Create Ticket</a>
    <ul>
      {% for ticket in tickets %}
      <li>
        <strong>{{ ticket.title }}</strong> - {{ ticket.status }} - {{ ticket.priority }}
        <br />
        Assigned to: {% if ticket.assigned_to %}{{ ticket.assigned_to.username}}{% else %}Unassigned{% endif %}
        <br />
        <a href="{% url 'update_ticket' ticket.id %}">Edit</a>
        {% if request.user.role == "admin" %}
        <form
          method="post"
          action="{% url 'delete_ticket' ticket.id %}"
          style="display: inline"
        >
          {% csrf_token %}
          <button type="submit">Delete</button>
        </form>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
